button._tap_quality_button {
    color: #eee !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: top !important;
}

button._tap_quality_button._tap_quality_active {
    color: #ff8983 !important;
}